.background {
  background-image: url("./responders.jpg");
background-repeat: no-repeat;
height: 100vh;
width: 100%;
margin: 0;
padding: 10%;
}

.mainContainer {
  display: block;
  margin: 15% 25%;
  padding: 1%;
  background-color: #fff;
  width: 50%;
  border-radius: 2%;
  text-align: center;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
	color: #d95104;
  width: auto;
}

.photoCredit {
	font-size: .2em;
	color: #000;
}
