.background {
background-image: url("./responders.jpg");
background-repeat: no-repeat;
object-fit: cover;
height: 100vh;
width: 100%;
margin: 0;
}

.mainContainer {
  display: block;
  position: sticky;
  top:20%;
  left:20%;
  margin: auto;
  padding: 1%;
  background-color: #fff;
  width: 60%;
  border-radius: 12px;
  text-align: center;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	color: #d95104;
  /* width: auto; */
}

.photoCredit {
	font-size: .2em;
	color: #000;
}
